{% block content %}
{% if user.is_authenticated %}

<h1>Rentals</h1>

<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>
<p></p>

<p><a href="{% url 'NewRental' %}">New Rental</a></p>
<table border="1">
<thead>
    <tr>
    <th>Customer</th>
	<th>Date Rented</th>
	<th>Date Due</th>
	<th>Game</th>
	<th>Branch</th>
	<th>Return</th>
	
    </tr>
</thead>
<tbody>
    {% for rental in object_list %}
    <tr>
    <td>{{ rental.cu.cu_first_name }} {{ rental.cu.cu_last_name }}</td>
	<td>{{ rental.re_date }} </td>
	<td>{{ rental.due_date }} </td>
	<td>{{ rental.vg.vd.vd_name}} </td>
	<td>{{ rental.br.br_id }} </td>
	<td> <a href="{% url "Return" rental.re_id %}">Return</a> </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}